.navbar {
  position: relative;
  min-height: 50px;
  background-color: #232323;
  //border-bottom: 1px solid #f0f0f0;

  .width-limit {
    position: relative;
    min-width: 768px;
    max-width: 1440px;
    margin: 0 auto;
    //background: blue;

    .logo {
      float: left;
      height: 56px;
      padding: 0;
      overflow: hidden;
    }

    .navbar-container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;

      .navbar-collapse {
        margin-left: -15px !important;
        border-color: #e7e7e7;
      }

      .navbar-nav {
        padding-left: 0;

        .navbar-nav-item {
          float: left;
          display: list-item;
          text-align: -webkit-match-parent;
          margin-right: 10px;
        }

        .active a {
          color: #eeff00;
          background: none;
        }

        a {
          height: 56px;
          line-height: 26px;
          padding: 15px;
          //color: #333;
          color: white;
        }

        .search {
          form {
            position: relative;
          }
          .search-input {
            margin-top: -5px;
            padding: 0 40px 0 20px;
            width: 160px;
            height: 30px;
            font-size: 14px;
            border: 1px solid #2f323e;
            border-radius: 40px;
            background: #2f323e;
            transition: width .5s;
            -moz-transition: width .5s;
            -webkit-transition: width .5s;
            -o-transition: width .5s;
            transition-delay: .1s;
            -moz-transition-delay: .1s;
            -webkit-transition-delay: .1s;
            -o-transition-delay: .1s;
            color:white;
          }

          input:focus{
            outline: none;
          }
          .search-btn{
            position: absolute;
            top: 0px;
            right: 5px;
            width: 30px;
            height: 30px!important;
            line-height: normal!important;
            padding: 0!important;
            color: #969696!important;
            text-align: center;
          }
        }
      }
    }

  }
}