ul {
  display: block;
  list-style: none;
}

li {
  line-height: 20px;
}

a {
  text-decoration : none;
  color: #333;
  cursor: pointer;
}

span{
  margin-right: 10px;
  color: #b4b4b4;
}

body{
  margin: 0;
}

body, html {
  height: 100%;
}

.clearfix {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.margin-top-20{
  margin-top: 20px;
}

.bg-fff{
  background-color: #fff;
}

.bg-f9f9f9{
  background-color: #f9f9f9;
}

*, :after, :before {
  box-sizing: border-box;
}

#root{
  height: 100%;
}